{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "arrowParens": "always",
    "quoteProps": "consistent",
    "htmlWhitespaceSensitivity": "strict",
    "proseWrap": "always",
    "embeddedLanguageFormatting": "auto"
}
