{%- assign url = site.url | append: site.baseurl -%}
{%- assign same_as = "" | split: "," -%}
{%- for link in site.social.links -%}
  {%- assign same_as = same_as | push: link -%}
{%- endfor -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}{{ site.baseurl }}/#website",
      "url": "{{ site.url }}{{ site.baseurl }}/",
      "name": "{{ site.title }}",
      "description": "{{ site.description }}",
      "publisher": {
        "@id": "{{ site.url }}{{ site.baseurl }}/#organization"
      },
      "inLanguage": "{{ site.lang | default: 'en-GB' }}"
    },
    {
      "@type": "Organization",
      "@id": "{{ site.url }}{{ site.baseurl }}/#organization",
      "name": "{{ site.title }}",
      "url": "{{ site.url }}{{ site.baseurl }}/",
      "logo": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}{{ site.baseurl }}/#logo",
        "url": "{{ '/logo.png' | absolute_url }}",
        "contentUrl": "{{ '/logo.png' | absolute_url }}",
        "width": 512,
        "height": 512,
        "caption": "{{ site.title }}"
      },
      "image": {
        "@id": "{{ site.url }}{{ site.baseurl }}/#logo"
      }
    },
    {
      "@type": "Person",
      "@id": "{{ site.url }}{{ site.baseurl }}/#person",
      "name": "{{ site.author.name }}",
      "url": "{{ site.url }}{{ site.baseurl }}/",
      "image": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}{{ site.baseurl }}/#authorlogo",
        "url": "{{ '/logo.png' | absolute_url }}",
        "caption": "{{ site.author.name }}"
      },
      "sameAs": {{ same_as | jsonify }}
    },
    {%- if page.layout == 'post' -%}
    {
      "@type": ["BlogPosting", "TechArticle"],
      "@id": "{{ page.url | absolute_url }}#article",
      "mainEntityOfPage": {
        "@id": "{{ page.url | absolute_url }}"
      },
      "headline": {{ page.title | jsonify }},
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
      "author": {
        "@id": "{{ site.url }}{{ site.baseurl }}/#person"
      },
      "publisher": {
        "@id": "{{ site.url }}{{ site.baseurl }}/#organization"
      },
      "description": {{ page.description | default: page.excerpt | strip_html | normalize_whitespace | truncate: 160 | jsonify }},
      "articleBody": {{ content | strip_html | normalize_whitespace | jsonify }},
      "image": {
        "@type": "ImageObject",
        "url": "{{ page.image | default: site.social_image | default: '/logo.png' | absolute_url }}",
        "width": 1200,
        "height": 630
      },
      "keywords": {{ page.tags | join: ', ' | jsonify }},
      "proficiencyLevel": "Intermediate"
    },
    {%- endif -%}
    {
      "@type": "BreadcrumbList",
      "@id": "{{ page.url | absolute_url }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ site.url }}{{ site.baseurl }}/"
        }
        {%- if page.url != '/' -%}
        ,
        {
          "@type": "ListItem",
          "position": 2,
          "name": {{ page.title | default: page.url | capitalize | jsonify }},
          "item": "{{ page.url | absolute_url }}"
        }
        {%- endif -%}
      ]
    }
  ]
}
</script>
