/* Global Button Utility */
.btn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background: var(--accent-color);
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    font-weight: 700;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    opacity: 90%;
}

.btn:focus-visible {
    box-shadow: var(--focus-ring);
    outline: none;
}
