.glossary-list dl {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.glossary-list dt {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--accent-color);
}

.glossary-list dd {
  margin-left: 0;
  line-height: 1.7;
}
