.post-header {
    max-width: 680px;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
    text-align: center;
}

.post-content {
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--font-serif);
    font-size: 1.15rem;
    line-height: 1.85;
    letter-spacing: -0.003em;
}

.post-content p {
    margin-bottom: 1.5rem;
}

.post-meta {
    color: var(--text-secondary);
    text-align: right;
}
