body {
    font:
        clamp(1.1rem, 1rem + 0.25vw, 1.25rem) / 1.7 system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.04em;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

a:hover {
    text-decoration: none;
}

code {
    color: var(--code-color);
    background: var(--code-bg);
    border-radius: 3px;
    font-family:
        ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}
